{% extends "layout.html" %}

{% block title %}
Timer for {{task[1]}}
{% endblock %}

{% block main %}
    <script>chrono()</script>
        <div id= "currentTask">{{task[1]}}</div>
        <div hidden id="currentTaskID">{{task[0]}}</div>
            <div id="easyTimer">
                <span class="hours">0</span> :
                <span class="minutes">0</span> :
                <span class="seconds">0</span>
            <div>
                <button type="button" class="startButton btn btn-info btn-lg"><span class="glyphicon glyphicon-play"></span></button>
                <button type="button" class="pauseButton btn btn-default btn-lg"><span class="glyphicon glyphicon-pause"></span></button>
                <button type="button" class="stopButton btn btn-primary btn-lg"><span class="glyphicon glyphicon-stop"></span></button>
            </div>
        </div>
            
{% endblock %}
